
<link href="~/css/chat_admin.css" rel="stylesheet" />


<div id="chatVue">
    <section style="background-color: #CDC4F9;">
        <div style="scroll-behavior: smooth;">

            <div class="row">
                <div class="col-md-12">

                    <div class="card" id="chat3" style="border-radius: 15px;">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                                    <div class="p-3">

                                        <div class="input-group rounded mb-3">
                                            <h3 style="margin-right: 0.5em;">Tài khoản đã đăng ký</h3>
                                        </div>

                                        <div data-mdb-perfect-scrollbar="true" style="position: relative;">
                                            @Html.Raw(ViewBag.currentUser)
                                            <table class="table table-success" id="tableDanhSachChart">
                                                <thead>
                                                    <tr>
                                                        <td>avatar</td>
                                                        <td>Acc</td>
                                                        <td>Tên</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyDanhSachChart">
                                                </tbody>
                                            </table>

                                        </div>

                                        <div class="input-group rounded mb-3">
                                            <h3 style="margin-right: 0.5em;">Tài khoản chưa đăng ký</h3>
                                        </div>

                                        <div data-mdb-perfect-scrollbar="true" style="position: relative;">

                                            <table class="table table-warning" id="tableDanhSachChartOther">
                                                <thead>
                                                    <tr>
                                                        <td>Acc</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyDanhSachChartOther">
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-6 col-lg-7 col-xl-8">

                                    <span id="currenUchta">Chọn người dùng</span>

                                    <ul id="Chat_Message_Box" class="pt-3 pe-3 overflow-auto border border-danger" data-mdb-perfect-scrollbar="true"
                                        style="position: relative; height: 600px">
                                    </ul>

                                    <div id="BoxTextChat" class="bg-red text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                                        <img src="https://i774.photobucket.com/albums/yy22/pro_ductrong1/nen%20tuyet%20la%20hoa/185649d8sylcmsi8.gif"
                                             alt="avatar 3" style="width: 40px; height: 100%;">
                                        <input type="text" class="form-control form-control-lg" id="ValueSend"
                                               placeholder="Nhập tin nhắn">
                                        <label class="custom-file-upload">
                                            <input type="file" id="img_send" style="width:100%" accept="image/png,image/jpeg,image/jpg" />
                                            <span><box-icon name='image'></box-icon></span>
                                        </label>
                                        <a id="btnsend" class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</div>


<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";
    //đặt cở check khi nào xong
    $('#preloader').fadeIn();

    var list_user = [];

    var flagLoadedChat = false;
    var currentUser = "";
    var prevUser = '';
    var currentAdmin = `@Html.Raw(ViewBag.currentUser)`;

    // khai báo datatable;
    var tableDanhSachChart;
    var tableDanhSachChartOther;
    // khai báo k

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    connection.start().then(function () {
        connection.invoke("HistoryChatAdmin", "currentAdmin")
            .then(res => { getOtherUser() })
            .catch(function (err) {
                $('#preloader').fadeOut();
                console.log("err HistoryChatAdmin", err)
            });
    }).catch(function (err) {
        $('#preloader').fadeOut();
        return;
    });

    //lịch roomchat có design
    connection.on("ReceiveMessageHistoryToAdmin", function (admin, listuser) {
        console.log("admin ----", admin)
        console.log("listuser -----", listuser)

        let ul_dsChart = document.getElementById("DanhSachChart");
        if (history.length == 0) {
            $('#preloader').fadeOut();
            return;
        }
        // người dùng đăng nhập
        $('#preloader').fadeOut();
        let tbody = document.getElementById('tbodyDanhSachChart');
        for (let i = 0; i < listuser.length; i++) {
            let item = listuser[i];
            if (item.adminUser == currentAdmin) {
                continue;
            }
            let tr = document.createElement("tr");
            tr.classList.add("cursor-pointer", `admin_${item.adminUser}`);
            tr.addEventListener("click", () => {
                ChooseUserNameByUser(item.adminUser)
            })
            tr.innerHTML = `
                                        <td><img src="${item.adminAvatar}" alt="avatar" width="60" height="50"> </td>
                                        <td>${item.adminUser}</td>
                                        <td>${item.adminName}</td>
                                    `;
            tbody.appendChild(tr)
        };
    });

    connection.on("ReceiveMessageToUser", async function (user, adminChat, messange) {

        //getOtherUser();
        if (currentUser != user) {

            Swal.fire({
                position: 'top-end',
                title: `tin nhắn mới từ ${user}`,
                showConfirmButton: false,
                timer: 1500,
                backdrop: false
            })

            // handle chuyển hàng ở đây
            let regexPattern = /^user_/;

            if (regexPattern.test(user)) {
                // sử lý người dùng vô danh
                console.log("Chuỗi chứa đoạn ký tự 'user_': ", user);
                let tbody = document.getElementById("tbodyDanhSachChartOther");


                let tr = document.createElement("tr");

                tr.classList.add("cursor-pointer", "table-danger", `user_${user}`);
                tr.addEventListener("click", () => {
                    ChooseUserNameByOtherUser(user)
                })
                tr.innerHTML = `<td>${user}</td>`;

                tbody.insertBefore(tr, tbody.firstChild)

            } else {
                let tbody = document.getElementById('tbodyDanhSachChart');
                let tr = document.createElement("tr");
                let apiUser = await fetch("/Chat/GetAvatarAndName?userName=" + user);
                let jsondata = await apiUser.json();
                let avartar = jsondata.data.avatar;
                let name = jsondata.data.name;
                tr.classList.add("cursor-pointer", `admin_${user}`);
                tr.addEventListener("click", () => {
                    ChooseUserNameByUser(user)
                })
                tr.innerHTML = `
                                                    <td><img src="${avartar}" alt="avatar" width="60" height="50"> </td>
                                            <td>${user}</td>
                                                    <td>${name}</td>
                                        `;
                tbody.insertBefore(tr, tbody.firstChild)
            }

            return;
        }
        let ul = document.getElementById("Chat_Message_Box");
        let li = document.createElement("li");

        li.innerHTML = `<p class="text-start p-1 w-100 h-100"><span class="fs-6 p-2 fw-bold rounded-pill text-white bg-success"> ${messange} </span></p>`
            
        ul.appendChild(li);
        scrollToBottom();

    })

    connection.on("ReceiveMessageToAdmin", function (user, adminChat, messange) {

        let ul = document.getElementById("Chat_Message_Box");
        let li = document.createElement("li");

        if (adminChat == currentAdmin) {

            li.innerHTML = `<p class="text-end p-1 w-100 h-100"><span class="fs-6 p-2 fw-bold rounded-pill text-white bg-secondary"> ${messange} </span></p>`
        } else {
            li.innerHTML = `<p class="text-start p-1 w-100 h-100"><span class="fs-6 p-2 fw-bold rounded-pill text-white bg-success"> ${messange} </span></p>`
        };

        ul.appendChild(li);
        scrollToBottom();

    })

    function ChooseUserNameByUser(userName) {
        $('#preloader').fadeIn();
        $("#currenUchta").text("Tài khoản: " + userName)
        let boxChat = document.getElementById("Chat_Message_Box");
        currentUser = userName;
        boxChat.innerHTML = "";
        fetch(`/Chat/historyChat?fromUser=${currentAdmin}&toUser=${userName}`)
            .then(res => res.json())
            .then(data => {
                $('#preloader').fadeOut();
                data.forEach(item => {

                    let li = document.createElement("li")
                    if (item.fromUser == currentAdmin) {

                        li.innerHTML = `<p class="text-end p-1 w-100 h-100"><span class="fs-6 p-2 fw-bold rounded-pill text-white bg-secondary"> ${item.content} </span></p>`
                    } else {
                        li.innerHTML = `<p class="text-start p-1 w-100 h-100"><span class="fs-6 p-2 fw-bold rounded-pill text-white bg-success"> ${item.content} </span></p>`
                    };

                    boxChat.appendChild(li);
                    scrollToBottom();

                })
            })
    }


    document.getElementById("btnsend").addEventListener("click", function (event) {

        let message = document.getElementById("ValueSend").value;
        if (!(!message.trim())) {
            connection.invoke("AdminSendMessage", currentUser, currentAdmin, message).then(data => { document.getElementById("ValueSend").value = ""; return data })
                .catch(function (err) {
                    return console.error(err.toString());
                });
        }
        event.preventDefault();
    });

    //lấy danh sách người dùng vô danh
    function getOtherUser() {
        fetch("/Chat/GetOtherUser")
            .then(res => res.json())
            .then(data => {
                $('#preloader').fadeOut();
                data = data.reverse();
                let tbody = document.getElementById("tbodyDanhSachChartOther");
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    if (item.adminUser == currentAdmin) {
                        continue;
                    }
                    let tr = document.createElement("tr");
                    tr.classList.add("cursor-pointer", `user_${item.name}`);
                    tr.addEventListener("click", () => {
                        ChooseUserNameByOtherUser(item.name)
                    })
                    tr.innerHTML = `<td>${item.name}</td>`;
                    tbody.appendChild(tr)
                };
            })
    };

    //lấy lịch sử người dùng khác
    function ChooseUserNameByOtherUser(name) {
        $('#preloader').fadeIn();
        $("#currenUchta").text("Tài khoản chưa đăng nhập: " + name)
        let boxChat = document.getElementById("Chat_Message_Box");
        boxChat.innerHTML = "";
        currentUser = name;
        fetch(`/Chat/GetHistoryChatOtherUser?name=${name}`)
            .then(res => res.json())
            .then(data => {
                $('#preloader').fadeOut();
                data.forEach(item => {
                    let li = document.createElement("li")
                    if (item.fromUser == currentAdmin) {

                        li.innerHTML = `<p class="text-end p-1 w-100 h-100"><span class="fs-6 p-2 fw-bold rounded-pill text-white bg-secondary"> ${item.content} </span></p>`
                    } else {
                        li.innerHTML = `<p class="text-start p-1 w-100 h-100"><span class="fs-6 p-2 fw-bold rounded-pill text-white bg-success"> ${item.content} </span></p>`
                    };

                    boxChat.appendChild(li);
                    scrollToBottom();
                })
            })
    }

    window.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của phím Enter

            document.getElementById("btnsend").click(); // Kích hoạt sự kiện click cho nút btnsend
        }
    });

    function scrollToBottom() {
        const scrollContainer = document.getElementById('Chat_Message_Box');
        scrollContainer.scrollTop = scrollContainer.scrollHeight;
    }

    //lắng nghe gửi ảnh
    let fileInput = document.getElementById("img_send");
    fileInput.addEventListener("change", async () => {
        let file = fileInput.files[0];
        let compressedDataUrl = await imageToBase64(file);
        let message = `<img src="${compressedDataUrl}" style="width:200px; height:auto" />`;



        connection.invoke("AdminSendMessage", currentUser, currentAdmin, message).then(data => { document.getElementById("ValueSend").value = ""; return data })
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    //covet ảnh
    function openImage(base64) {
        console.log("nhan", base64.length);
        const byteString = atob(base64.split(',')[1]);
        const mimeString = base64.split(',')[0].split(':')[1].split(';')[0];
        const ab = new ArrayBuffer(byteString.length);
        const ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        const blob = new Blob([ab], { type: mimeString });
        const url = URL.createObjectURL(blob);
        window.open(url, '_blank');
    }
    // hàm sử lý file ảnh
    function imageToBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = (event) => {
                resolve(event.target.result);
            };
            reader.onerror = (error) => {
                reject(error);
            };
        });
    }

    $(document).ready(() => {
        setTimeout(() => {
            //tableDanhSachChart
            tableDanhSachChart = new DataTable('#tableDanhSachChart', {
                responsive: true,
                paging: true,
                select: true,
                "filter": true,
                "processing": true,
                "serverSide": false,
                "pageLength": 6,
                "order": [[0, "desc"]],
                dom: 'Bfrtip',
                'columnDefs': [{
                    'targets': [0],
                    'orderable': false,
                }],
                language: {
                    "processing": "Đang xử lý...",
                    "aria": {
                        "sortAscending": ": Sắp xếp thứ tự tăng dần",
                        "sortDescending": ": Sắp xếp thứ tự giảm dần"
                    },
                    "autoFill": {
                        "cancel": "Hủy",
                        "fill": "Điền tất cả ô với <i>%d<\/i>",
                        "fillHorizontal": "Điền theo hàng ngang",
                        "fillVertical": "Điền theo hàng dọc"
                    },
                    "buttons": {
                        "collection": "Chọn lọc <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                        "colvis": "Hiển thị theo cột",
                        "colvisRestore": "Khôi phục hiển thị",
                        "copy": "Sao chép",
                        "copyKeys": "Nhấn Ctrl hoặc u2318 + C để sao chép bảng dữ liệu vào clipboard.<br \/><br \/>Để hủy, click vào thông báo này hoặc nhấn ESC",
                        "copySuccess": {
                            "1": "Đã sao chép 1 dòng dữ liệu vào clipboard",
                            "_": "Đã sao chép %d dòng vào clipboard"
                        },
                        "copyTitle": "Sao chép vào clipboard",
                        "pageLength": {
                            "-1": "Xem tất cả các dòng",
                            "_": "Hiển thị %d dòng",
                            "1": "Hiển thị 1 dòng"
                        },
                        "print": "In ấn",
                        "createState": "Tạo trạng thái",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pdf": "PDF",
                        "removeAllStates": "Xóa hết trạng thái",
                        "removeState": "Xóa",
                        "renameState": "Đổi tên",
                        "savedStates": "Trạng thái đã lưu",
                        "stateRestore": "Trạng thái %d",
                        "updateState": "Cập nhật"
                    },
                    "select": {
                        "cells": {
                            "1": "1 ô đang được chọn",
                            "_": "%d ô đang được chọn"
                        },
                        "columns": {
                            "1": "1 cột đang được chọn",
                            "_": "%d cột đang được được chọn"
                        },
                        "rows": {
                            "1": "1 dòng đang được chọn",
                            "_": "%d dòng đang được chọn"
                        }
                    },
                    "searchBuilder": {
                        "title": {
                            "_": "Thiết lập tìm kiếm (%d)",
                            "0": "Thiết lập tìm kiếm"
                        },
                        "button": {
                            "0": "Thiết lập tìm kiếm",
                            "_": "Thiết lập tìm kiếm (%d)"
                        },
                        "value": "Giá trị",
                        "clearAll": "Xóa hết",
                        "condition": "Điều kiện",
                        "conditions": {
                            "date": {
                                "after": "Sau",
                                "before": "Trước",
                                "between": "Nằm giữa",
                                "empty": "Rỗng",
                                "equals": "Bằng với",
                                "not": "Không phải",
                                "notBetween": "Không nằm giữa",
                                "notEmpty": "Không rỗng"
                            },
                            "number": {
                                "between": "Nằm giữa",
                                "empty": "Rỗng",
                                "equals": "Bằng với",
                                "gt": "Lớn hơn",
                                "gte": "Lớn hơn hoặc bằng",
                                "lt": "Nhỏ hơn",
                                "lte": "Nhỏ hơn hoặc bằng",
                                "not": "Không phải",
                                "notBetween": "Không nằm giữa",
                                "notEmpty": "Không rỗng"
                            },
                            "string": {
                                "contains": "Chứa",
                                "empty": "Rỗng",
                                "endsWith": "Kết thúc bằng",
                                "equals": "Bằng",
                                "not": "Không phải",
                                "notEmpty": "Không rỗng",
                                "startsWith": "Bắt đầu với",
                                "notContains": "Không chứa",
                                "notEndsWith": "Không kết thúc với",
                                "notStartsWith": "Không bắt đầu với"
                            },
                            "array": {
                                "equals": "Bằng",
                                "empty": "Trống",
                                "contains": "Chứa",
                                "not": "Không",
                                "notEmpty": "Không được rỗng",
                                "without": "không chứa"
                            }
                        },
                        "logicAnd": "Và",
                        "logicOr": "Hoặc",
                        "add": "Thêm điều kiện",
                        "data": "Dữ liệu",
                        "deleteTitle": "Xóa quy tắc lọc",
                        "leftTitle": "Giảm thụt lề",
                        "rightTitle": "Tăng thụt lề"
                    },
                    "searchPanes": {
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Không có phần tìm kiếm",
                        "clearMessage": "Xóa hết",
                        "loadMessage": "Đang load phần tìm kiếm",
                        "collapse": {
                            "0": "Phần tìm kiếm",
                            "_": "Phần tìm kiếm (%d)"
                        },
                        "title": "Bộ lọc đang hoạt động - %d",
                        "count": "{total}",
                        "collapseMessage": "Thu gọn tất cả",
                        "showMessage": "Hiện tất cả"
                    },
                    "datetime": {
                        "hours": "Giờ",
                        "minutes": "Phút",
                        "next": "Sau",
                        "previous": "Trước",
                        "seconds": "Giây",
                        "amPm": [
                            "am",
                            "pm"
                        ],
                        "unknown": "-",
                        "weekdays": [
                            "Chủ nhật"
                        ],
                        "months": [
                            "Tháng Một",
                            "Tháng Hai",
                            "Tháng Ba",
                            "Tháng Tư",
                            "Tháng Năm",
                            "Tháng Sáu",
                            "Tháng Bảy",
                            "Tháng Tám",
                            "Tháng Chín",
                            "Tháng Mười",
                            "Tháng Mười Một",
                            "Tháng Mười Hai"
                        ]
                    },
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiển thị _START_ tới _END_ của _TOTAL_ dữ liệu",
                    "infoEmpty": "Hiển thị 0 tới 0 của 0 dữ liệu",
                    "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                    "loadingRecords": "Đang tải...",
                    "paginate": {
                        "first": "Đầu tiên",
                        "last": "Cuối cùng",
                        "next": "Sau",
                        "previous": "Trước"
                    },
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy kết quả",
                    "decimal": ",",
                    "editor": {
                        "close": "Đóng",
                        "create": {
                            "button": "Thêm",
                            "submit": "Thêm",
                            "title": "Thêm mục mới"
                        },
                        "edit": {
                            "button": "Sửa",
                            "submit": "Cập nhật",
                            "title": "Sửa mục"
                        },
                        "error": {
                            "system": "Đã xảy ra lỗi hệ thống (&lt;a target=\"\\\" rel=\"nofollow\" href=\"\\\"&gt;Thêm thông tin&lt;\/a&gt;)."
                        },
                        "multi": {
                            "info": "Các mục đã chọn chứa các giá trị khác nhau cho đầu vào này. Để chỉnh sửa và đặt tất cả các mục cho đầu vào này thành cùng một giá trị, hãy nhấp hoặc nhấn vào đây, nếu không chúng sẽ giữ lại các giá trị riêng lẻ của chúng.",
                            "noMulti": "Đầu vào này có thể được chỉnh sửa riêng lẻ, nhưng không phải là một phần của một nhóm.",
                            "restore": "Hoàn tác thay đổi",
                            "title": "Nhiều giá trị"
                        },
                        "remove": {
                            "button": "Xóa",
                            "confirm": {
                                "_": "Bạn có chắc chắn muốn xóa %d hàng không?",
                                "1": "Bạn có chắc chắn muốn xóa 1 hàng không?"
                            },
                            "submit": "Xóa",
                            "title": "Xóa"
                        }
                    },
                    "infoFiltered": "(được lọc từ _MAX_ dữ liệu)",
                    "searchPlaceholder": "Nhập tìm kiếm...",
                    "stateRestore": {
                        "creationModal": {
                            "button": "Thêm",
                            "columns": {
                                "search": "Tìm kiếm cột",
                                "visible": "Khả năng hiển thị cột"
                            },
                            "name": "Tên:",
                            "order": "Sắp xếp",
                            "paging": "Phân trang",
                            "scroller": "Cuộn vị trí",
                            "search": "Tìm kiếm",
                            "searchBuilder": "Trình tạo tìm kiếm",
                            "select": "Chọn",
                            "title": "Thêm trạng thái",
                            "toggleLabel": "Bao gồm:"
                        },
                        "duplicateError": "Trạng thái có tên này đã tồn tại.",
                        "emptyError": "Tên không được để trống.",
                        "emptyStates": "Không có trạng thái đã lưu",
                        "removeConfirm": "Bạn có chắc chắn muốn xóa %s không?",
                        "removeError": "Không xóa được trạng thái.",
                        "removeJoiner": "và",
                        "removeSubmit": "Xóa",
                        "removeTitle": "Xóa trạng thái",
                        "renameButton": "Đổi tên",
                        "renameLabel": "Tên mới cho %s:",
                        "renameTitle": "Đổi tên trạng thái"
                    },
                    "infoThousands": ".",
                    "thousands": "."
                },

            });
        }, 5000)
    })

    $("#tableDanhSachChartOther").ready(() => {
        setTimeout(() => {
            tableDanhSachChartOther = new DataTable('#tableDanhSachChartOther', {
                responsive: true,
                paging: true,
                select: true,
                "filter": true,
                "processing": true,
                "serverSide": false,
                "pageLength": 8,
                "order": [[0, "desc"]],
                dom: 'Bfrtip',
                'columnDefs': [{
                    'targets': [0],
                    'orderable': false,
                }],
                language: {
                    "processing": "Đang xử lý...",
                    "aria": {
                        "sortAscending": ": Sắp xếp thứ tự tăng dần",
                        "sortDescending": ": Sắp xếp thứ tự giảm dần"
                    },
                    "autoFill": {
                        "cancel": "Hủy",
                        "fill": "Điền tất cả ô với <i>%d<\/i>",
                        "fillHorizontal": "Điền theo hàng ngang",
                        "fillVertical": "Điền theo hàng dọc"
                    },
                    "buttons": {
                        "collection": "Chọn lọc <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                        "colvis": "Hiển thị theo cột",
                        "colvisRestore": "Khôi phục hiển thị",
                        "copy": "Sao chép",
                        "copyKeys": "Nhấn Ctrl hoặc u2318 + C để sao chép bảng dữ liệu vào clipboard.<br \/><br \/>Để hủy, click vào thông báo này hoặc nhấn ESC",
                        "copySuccess": {
                            "1": "Đã sao chép 1 dòng dữ liệu vào clipboard",
                            "_": "Đã sao chép %d dòng vào clipboard"
                        },
                        "copyTitle": "Sao chép vào clipboard",
                        "pageLength": {
                            "-1": "Xem tất cả các dòng",
                            "_": "Hiển thị %d dòng",
                            "1": "Hiển thị 1 dòng"
                        },
                        "print": "In ấn",
                        "createState": "Tạo trạng thái",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pdf": "PDF",
                        "removeAllStates": "Xóa hết trạng thái",
                        "removeState": "Xóa",
                        "renameState": "Đổi tên",
                        "savedStates": "Trạng thái đã lưu",
                        "stateRestore": "Trạng thái %d",
                        "updateState": "Cập nhật"
                    },
                    "select": {
                        "cells": {
                            "1": "1 ô đang được chọn",
                            "_": "%d ô đang được chọn"
                        },
                        "columns": {
                            "1": "1 cột đang được chọn",
                            "_": "%d cột đang được được chọn"
                        },
                        "rows": {
                            "1": "1 dòng đang được chọn",
                            "_": "%d dòng đang được chọn"
                        }
                    },
                    "searchBuilder": {
                        "title": {
                            "_": "Thiết lập tìm kiếm (%d)",
                            "0": "Thiết lập tìm kiếm"
                        },
                        "button": {
                            "0": "Thiết lập tìm kiếm",
                            "_": "Thiết lập tìm kiếm (%d)"
                        },
                        "value": "Giá trị",
                        "clearAll": "Xóa hết",
                        "condition": "Điều kiện",
                        "conditions": {
                            "date": {
                                "after": "Sau",
                                "before": "Trước",
                                "between": "Nằm giữa",
                                "empty": "Rỗng",
                                "equals": "Bằng với",
                                "not": "Không phải",
                                "notBetween": "Không nằm giữa",
                                "notEmpty": "Không rỗng"
                            },
                            "number": {
                                "between": "Nằm giữa",
                                "empty": "Rỗng",
                                "equals": "Bằng với",
                                "gt": "Lớn hơn",
                                "gte": "Lớn hơn hoặc bằng",
                                "lt": "Nhỏ hơn",
                                "lte": "Nhỏ hơn hoặc bằng",
                                "not": "Không phải",
                                "notBetween": "Không nằm giữa",
                                "notEmpty": "Không rỗng"
                            },
                            "string": {
                                "contains": "Chứa",
                                "empty": "Rỗng",
                                "endsWith": "Kết thúc bằng",
                                "equals": "Bằng",
                                "not": "Không phải",
                                "notEmpty": "Không rỗng",
                                "startsWith": "Bắt đầu với",
                                "notContains": "Không chứa",
                                "notEndsWith": "Không kết thúc với",
                                "notStartsWith": "Không bắt đầu với"
                            },
                            "array": {
                                "equals": "Bằng",
                                "empty": "Trống",
                                "contains": "Chứa",
                                "not": "Không",
                                "notEmpty": "Không được rỗng",
                                "without": "không chứa"
                            }
                        },
                        "logicAnd": "Và",
                        "logicOr": "Hoặc",
                        "add": "Thêm điều kiện",
                        "data": "Dữ liệu",
                        "deleteTitle": "Xóa quy tắc lọc",
                        "leftTitle": "Giảm thụt lề",
                        "rightTitle": "Tăng thụt lề"
                    },
                    "searchPanes": {
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Không có phần tìm kiếm",
                        "clearMessage": "Xóa hết",
                        "loadMessage": "Đang load phần tìm kiếm",
                        "collapse": {
                            "0": "Phần tìm kiếm",
                            "_": "Phần tìm kiếm (%d)"
                        },
                        "title": "Bộ lọc đang hoạt động - %d",
                        "count": "{total}",
                        "collapseMessage": "Thu gọn tất cả",
                        "showMessage": "Hiện tất cả"
                    },
                    "datetime": {
                        "hours": "Giờ",
                        "minutes": "Phút",
                        "next": "Sau",
                        "previous": "Trước",
                        "seconds": "Giây",
                        "amPm": [
                            "am",
                            "pm"
                        ],
                        "unknown": "-",
                        "weekdays": [
                            "Chủ nhật"
                        ],
                        "months": [
                            "Tháng Một",
                            "Tháng Hai",
                            "Tháng Ba",
                            "Tháng Tư",
                            "Tháng Năm",
                            "Tháng Sáu",
                            "Tháng Bảy",
                            "Tháng Tám",
                            "Tháng Chín",
                            "Tháng Mười",
                            "Tháng Mười Một",
                            "Tháng Mười Hai"
                        ]
                    },
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiển thị _START_ tới _END_ của _TOTAL_ dữ liệu",
                    "infoEmpty": "Hiển thị 0 tới 0 của 0 dữ liệu",
                    "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                    "loadingRecords": "Đang tải...",
                    "paginate": {
                        "first": "Đầu tiên",
                        "last": "Cuối cùng",
                        "next": "Sau",
                        "previous": "Trước"
                    },
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy kết quả",
                    "decimal": ",",
                    "editor": {
                        "close": "Đóng",
                        "create": {
                            "button": "Thêm",
                            "submit": "Thêm",
                            "title": "Thêm mục mới"
                        },
                        "edit": {
                            "button": "Sửa",
                            "submit": "Cập nhật",
                            "title": "Sửa mục"
                        },
                        "error": {
                            "system": "Đã xảy ra lỗi hệ thống (&lt;a target=\"\\\" rel=\"nofollow\" href=\"\\\"&gt;Thêm thông tin&lt;\/a&gt;)."
                        },
                        "multi": {
                            "info": "Các mục đã chọn chứa các giá trị khác nhau cho đầu vào này. Để chỉnh sửa và đặt tất cả các mục cho đầu vào này thành cùng một giá trị, hãy nhấp hoặc nhấn vào đây, nếu không chúng sẽ giữ lại các giá trị riêng lẻ của chúng.",
                            "noMulti": "Đầu vào này có thể được chỉnh sửa riêng lẻ, nhưng không phải là một phần của một nhóm.",
                            "restore": "Hoàn tác thay đổi",
                            "title": "Nhiều giá trị"
                        },
                        "remove": {
                            "button": "Xóa",
                            "confirm": {
                                "_": "Bạn có chắc chắn muốn xóa %d hàng không?",
                                "1": "Bạn có chắc chắn muốn xóa 1 hàng không?"
                            },
                            "submit": "Xóa",
                            "title": "Xóa"
                        }
                    },
                    "infoFiltered": "(được lọc từ _MAX_ dữ liệu)",
                    "searchPlaceholder": "Nhập tìm kiếm...",
                    "stateRestore": {
                        "creationModal": {
                            "button": "Thêm",
                            "columns": {
                                "search": "Tìm kiếm cột",
                                "visible": "Khả năng hiển thị cột"
                            },
                            "name": "Tên:",
                            "order": "Sắp xếp",
                            "paging": "Phân trang",
                            "scroller": "Cuộn vị trí",
                            "search": "Tìm kiếm",
                            "searchBuilder": "Trình tạo tìm kiếm",
                            "select": "Chọn",
                            "title": "Thêm trạng thái",
                            "toggleLabel": "Bao gồm:"
                        },
                        "duplicateError": "Trạng thái có tên này đã tồn tại.",
                        "emptyError": "Tên không được để trống.",
                        "emptyStates": "Không có trạng thái đã lưu",
                        "removeConfirm": "Bạn có chắc chắn muốn xóa %s không?",
                        "removeError": "Không xóa được trạng thái.",
                        "removeJoiner": "và",
                        "removeSubmit": "Xóa",
                        "removeTitle": "Xóa trạng thái",
                        "renameButton": "Đổi tên",
                        "renameLabel": "Tên mới cho %s:",
                        "renameTitle": "Đổi tên trạng thái"
                    },
                    "infoThousands": ".",
                    "thousands": "."
                },

            });
        }, 4000)
    })
</script>