
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <title>
        Admin Tinderr
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
      
    <link href="~/assets/css/material-dashboard.min.css" rel="stylesheet" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

    <script src="~/lib/Vuejs/cdnjs.cloudflare.com_ajax_libs_vue_2.6.11_vue.min.js"></script>
    <script src="~/lib/Vuejs/unpkg.com_axios@1.4.0_dist_axios.min.js"></script>

    <!--datatable-->
    <link href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

    <link href="~/css/site.min.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-200">

    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>


    <partial name="Sitebar" />
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <partial name="Navbar" />
        <div class="container py-4">
            <div style="margin-left:4em; width:100%;">
            @RenderBody()
            </div>
        </div>
    </main>

    <partial name="~/Views/UIComponentsModel/_BigModal.cshtml" />
    <partial name="~/Views/UIComponentsModel/_SmallModel.cshtml" />
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />

    <!--   Core JS Files   -->
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/material-dashboard.min.js?v=3.1.0"></script>
</body>

</html>