<div id="AppVueAsset" class="row mt-1">
    <div class="container">
        <div v-on:click="AddVideo()" class="btn btn-success float-right">Thêm danh mục phim</div>
    </div>
    <div class="container">
        <table class="table table-striped" id="tableBrand">
            <thead class="bg-gradient-warning text-primary">
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên video</th>
                    <th class="text-center">Số lượt xem</th>
                    <th class="text-center">Xem ảnh bìa</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Nổi bật</th>
                    <th class="text-center">Video</th>
                    <th class="text-center">Danh mục</th>
                    <th class="text-center">Ngày tạo</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="index">
                    <th class="text-center">{{index+1}}</th>
                    <th class="text-center">{{item.videoName}}</th>
                    <th class="text-center">{{item.viewCount}}</th>
                    <th class="text-center"><span class="btn btn-info opacity-5" v-on:click="ViewFilmAvatar(item.imgAvatarPath)"><i class="material-icons">panorama</i></span></th>
                    <th class="text-center">
                        <span v-if="item.status" class="btn btn-success" v-on:click="ChangeActive(item.id)">Mở</span>
                        <span v-else class="btn btn-danger" v-on:click="ChangeActive(item.id)">Đóng</span>
                    </th>
                    <th class="text-center">
                        <span v-if="item.outstanding" class="btn btn-success" v-on:click="ChangeOutstanding(item.id)">Có</span>
                        <span v-else class="btn btn-danger" v-on:click="ChangeOutstanding(item.id)">Kho</span>
                    </th>
                    <th class="text-center"><span class="btn btn-info opacity-5" v-on:click="ViewFilmVideo(item.videoLinkPath)"><i class="material-icons">tv</i></span></th>
                    <th class="text-center">{{item.categoryName}}</th>
                    <th class="text-center">{{item.createdDate.slice(0, item.createdDate.indexOf("T"))}}</th>
                    <th class="text-center">
                        <p class="btn btn-warning" v-on:click="Edit(item.id)">Sửa</p>
                        <p class="btn btn-danger" v-on:click="Delete(item.id)">Xóa</p>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">
    var AppVueAsset = new Vue({
        el: "#AppVueAsset",
        data: {
            data: []
        },
        computed: {

        },
        mounted() {
            this.Init()
        },
        methods: {
            Init() {
                fetch("/Category/GetDataVideo")
                    .then(res => res.json())
                    .then(data => this.data = data.data.reverse())
            },
            AddVideo() {
                $("#BigModalDiv").load(`/Category/AddEditAsset?id=0`, function () {
                    $("#BigModal").modal("show");
                    $("#titleBigModal").html("Thêm Video mới")
                })
            },
            Delete(id) {
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xoá?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Hủy',
                }).then((result) => {
                    if (result.value) {
                        if (result.value) {
                            fetch(`/Category/DeleteAsset?id=${id}`)
                                .then(res => res.json())
                                .then(data => { this.Init() })
                        }
                    }
                });
            },
            Edit(id) {
                $("#BigModalDiv").load(`/Category/AddEditAsset?id=${id}`, function () {
                    $("#BigModal").modal("show");
                    $("#titleBigModal").html("Thêm Video mới")
                })
            },
            ChangeActive(id) {
                fetch(`/Category/ChangeActiveVideo?id=${id}`)
                    .then(res => res.json())
                    .then(data => { this.Init() })
            },
            ChangeOutstanding(id) {
                fetch(`/Category/ChangeOutstanding?id=${id}`)
                    .then(res => res.json())
                    .then(data => { this.Init() })
            },
            ViewFilmAvatar(url) {
                Swal.fire({
                    imageUrl: `${url}`,
                    imageWidth: 400,
                })
            },
            async ViewFilmVideo(url) {

                $('#preloader').fadeIn();
                fetch(url)
                .then(res=>res.text())
                .then(data=>{

                        $('#preloader').fadeOut();
                        Swal.fire({
                            html: `<video controls class="video_alert">
                                          <source src="data:video/mp4;base64,${data}" type="video/mp4">
                                </video>`,
                            imageWidth: 500,
                        })
                })         
            },

        }
    });
    function Save() {

        var _data = new FormData()
        _data.append("Id", $("#Id").val())
        _data.append("IsDeleted", $("#IsDeleted").val())
        _data.append("CreatedDate", $("#CreatedDate").val())
        _data.append("ViewCount", $("#ViewCount").val())
        _data.append("ViewCount", $("#ViewCount").val())
        _data.append("Outstanding", $("#Outstanding").val())
        _data.append("Status", $("#Status").val())
        _data.append("VideoName", $("#VideoName").val())
        _data.append("CategoryId", $("#CategoryId").val())
        _data.append("AvatarFile", document.getElementById("AvatarFile").files[0])
        _data.append("VideoFile", document.getElementById("VideoFile").files[0])


        $('#preloader').fadeIn();
        fetch("/Category/AddEditAsset", {
            method: "POST",
            headers: {
                processData: false,
                contentType: false,
            },
            body: _data
        }).then(res => res.json())
            .then(res => {
                $('#preloader').fadeOut();
                if (res.isSuccess) {
                    $('#BigModal').modal('hide');
                    Swal.fire({
                        title: "Thành công",
                        icon: 'success',
                    }).then(res => {
                        AppVueAsset.Init();
                    });
                } else {
                    $('#BigModal').modal('hide');
                    Swal.fire({
                        title: "Thất bại",
                        icon: 'error',
                    }).then(res => {
                        AppVueAsset.Init();
                    });
                }
            })
    }
</script>