<div id="AppVueWithdrawal" class="row mt-1">
    <div class="container">
        <div v-on:click="AddDeposit" class="btn btn-success float-right">Rút</div>
    </div>
    <div class="container">
        <table class="table table-striped" id="tableBrand">
            <thead class="bg-gradient-warning text-primary">
                <tr>
                    <th>STT</th>
                    <th>Tài khoản</th>
                    <th>Số tiền</th>
                    <th>Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="index">
                    <td>{{index+1}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.createDate.slice(0, item.createDate.indexOf("T"))}} </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="transform: translateY(-6em) !important;">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-lg input-group-outline my-3">
                        <select class="form-control form-control-lg mb-3" v-model="userChoose">
                            <option selected disabled>Chọn tài khoản</option>
                            <option v-for="(i, index) in listUser" :value="i.userName">{{i.name}} -- {{i.userName}}</option>
                        </select>
                    </div>

                    <input v-model="amount" class="form-control form-control-lg" placeholder="nhập số tiền rút" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn bg-gradient-primary" v-on:click="Deposit">Rút</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var AppVueWithdrawal = new Vue({
        el: "#AppVueWithdrawal",
        data: {
            data: [],
            listUser: [],
            userChoose: "",
            amount: null
        },
        computed: {

        },
        mounted() {
            this.Init()
        },
        methods: {
            Init() {
                fetch("/DepositWithdrawal/HistoryWithdrawal")
                    .then(res => res.json())
                    .then(data => this.data = data.data.reverse());

                fetch("/DepositWithdrawal/getAllUser")
                    .then(res => res.json())
                    .then(data => this.listUser = data.data);

            },
            AddDeposit() {
                $("#exampleModal").modal("show");
                $("#exampleModalLabel").html("Rút tiền")
            },
            Deposit() {
                fetch(`/DepositWithdrawal/WithdrawalBalance?userName=${this.userChoose}&amount=${this.amount}`)
                    .then(res => res.json())
                    .then(data => {
                        $("#exampleModal").modal("hide");
                        this.Init();
                    });
            }
        },

    });

</script>
