@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="form-control">
    <label class="form-label">NHập file</label>
    <input type="file" id="fileInput" />

    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<script>
    const fileInput = document.getElementById('fileInput');

    fileInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        const chunkSize = 1024 * 1024 * 25; // 50MB
        let offset = 0;

        function uploadNextChunk() {
            if (offset < file.size) {
                const chunk = file.slice(offset, offset + chunkSize);
                uploadChunk(chunk, offset, file.name);
                offset += chunkSize;
            }
        }

        function uploadChunk(chunk, offset, filename) {
            const formData = new FormData();
            formData.append('file', chunk);
            formData.append('offset', offset);
            formData.append('filename', filename);

            fetch('/upload', {
                method: 'POST',
                body: formData
            }).then(uploadNextChunk);
        }

        uploadNextChunk();
    });
</script>