li {
    list-style-type: none;
}

.customBoxChat {
    overflow: hidden;
    padding: 10px;
    margin: 0 40px;
}

.ulChat {
    height: 250px;
    overflow: scroll;
    width: 100%;
}

.username {
    font-size: 14pt;
}


/* Thanh cuộn ngang */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/* Thanh cuộn dọc */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

a {
    text-decoration: none;
}

.activeChat {
    background-color: dodgerblue;
}

.activeChat a {
    color: #fff;
}

.custom-file-upload {
    margin: 0 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 43px;
    width: 91px;
    padding: 10px 12px;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.custom-file-upload span {
    font-size: 16px;
}


#chatVue{
    margin-left:1em;
}